{% extends 'base.html.twig' %}

{% block main %}
    {% if articleCreated %}
        <div class="alert alert-success" role="alert">
            Article has been successfully created
        </div>
    {% elseif articleDeleted %}
        <div class="alert alert-success" role="alert">
            Article has been successfully deleted
        </div>
    {% elseif notFound %}
        <div class="alert alert-warning" role="alert">
            No article found with id {{ id }} :(
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h5 class="float-left">{{ title }}</h5>
            <div class="float-right">
                <a href="admin_articles_new.php" role="button" class="btn btn-outline-primary">Create new article</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Author</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if currentPage > 1 %}
                    {% set i = (currentPage - 1) * constant('App\\Entity\\Article::MAX_PER_PAGE') + 1 %}
                {% else %}
                    {% set i = 1 %}
                {% endif %}
                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ article.name }}</td>
                        <td>
                            {% if article.status is constant('STATUS_PUBLISHED', article) %}
                                <span class="badge badge-primary">Published</span>
                            {% elseif article.status is constant('STATUS_UNPUBLISHED', article) %}
                                <span class="badge badge-secondary">Unpublished</span>
                            {% else %}
                                <span class="badge badge-info">Draft</span>
                            {% endif %}
                        </td>
                        <td>{{ article.author }}</td>
                        <td>
                            <a href="admin_articles_edit.php?id={{ article.id }}&page={{ currentPage }}" role="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit article">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="admin_articles_delete.php?id={{ article.id }}" role="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete article">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if count > constant('App\\Entity\\Article::MAX_PER_PAGE') %}
        <nav class="mt-3" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if currentPage <= 1 %} disabled {% endif %}"><a class="page-link" href="?page=1">First page</a></li>
                <li class="page-item {% if currentPage <= 1 %} disabled {% endif %}"><a class="page-link" href="?page={{ currentPage - 1 }}">&laquo;</a></li>
                {% for i in minPage..(currentPage - 1) if (currentPage > 1) %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item active"><a class="page-link" href="?page={{ currentPage }}">{{ currentPage }}</a>
                    {% for i in (currentPage + 1)..maxPage if (currentPage < maxPagination) %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item {% if currentPage >= maxPagination %} disabled {% endif %}"><a class="page-link" href="?page={{ currentPage + 1 }}">&raquo;</a></li>
                <li class="page-item {% if currentPage >= maxPagination %} disabled {% endif %}"><a class="page-link" href="?page={{ maxPagination }}">Last page</a></li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}